In [1]:
import pandas as pd
import numpy as np

In [22]:
path = '../Application Analysis/Data/'
raw = pd.read_excel(path + 'champ3_app.xlsx')

In [23]:
raw.head(2)

,Timestamp,Email Address,ชื่อ-นามสกุล,ชื่อเล่น,ที่อยู่ปัจจุบัน,เบอร์โทรศัพท์,เบอร์ติดต่อฉุกเฉิน,ความสัมพันธ์กับเจ้าของเบอร์ติดต่อฉุกเฉิน,วันเกิด,เพศ,...,Q2 คุณคิดว่าโครงการฯ มีจุดมุ่งหมายใด และคุณคิดว่าคุณจะช่วยให้โครงการฯ บรรลุจุดมุ่งหมายนั้นได้มากกว่าคนอื่นอย่างไร,Q3 เมื่ออยู่ในสถานการณ์ที่เราจำเป็นที่จะต้องทำในสิ่งที่ไม่ถนัดไม่ชอบหรือไม่เคยทำคุณมีวิธีการจัดการอย่างไรเพื่อให้คุณสามารถทำสิ่งเหล่านั้นได้สำเร็จลุล่วง,Q4 เล่าประสบการณ์ที่เคยได้ช่วยเหลือหรือแบ่งปันให้ผู้อื่น (เช่น คนรอบตัว หรือสังคม) โดยเล่าสถานการณ์ที่เกิดขึ้น การกระทำ และผลลัพธ์,Q5 ให้คุณอธิบายเกี่ยวกับกิจกรรมที่คุณเคยทำร่วมกับผู้อื่น คุณเคยพบกับปัญหาจากการทำกิจกรรมร่วมกับผู้อื่นหรือไม่ ถ้าพบปัญหา คุณมีวิธีการจัดการปัญหานั้นอย่างไร,Transcript,Resume หรือ CV,Recommendation Letter,Unnamed: 25,รุ่น Intania,Line ID สำหรับเชิญเข้ากลุ่ม กรณีผ่านเข้ารอบโครงการ
0,2020-08-17 21:53:22.451,jane_janejira79@hotmail.com,janejira,jane,11,099-193-5777,099-193-5777,มารดา,2020-05-29 00:00:00,หญิง,...,1111111111111111111111111111111111111111111111...,1111111111111111111111111111111111111111111111...,1111111111111111111111111111111111111111111111...,1111111111111111111111111111111111111111111111...,https://drive.google.com/open?id=1GCoEQwXr8-rv...,https://drive.google.com/open?id=1Jh69lWzpyTyn...,NaN,NaN,NaN,NaN
1,2020-08-23 20:30:56.596,thitirat.crw@gmail.com,ฐิติรัตน์ เจริญวัย,แนน,กด่กาด่าห่าหก,094-551-6229,098-469-5156,มารดา,1998-06-09 00:00:00,หญิง,...,sdfsdfdssddsfdsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,sdfsfdfsfdsfsdfsdfsdaaaaaaaaaaaaaaaaaaaaaaaaaa...,sdfsfsfdsfsdawewaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,dsfsdfsdgrtrtrgfaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,https://drive.google.com/open?id=1tS88310PUZ42...,https://drive.google.com/open?id=1g9d3J6Ape02s...,NaN,Option 1,101.0,nt-thitirat

In [24]:
# Drop duplicates, remove the first two rows and the other trial row of which the address is 'sdf'
raw = raw.iloc[2:]
raw.drop_duplicates(subset = 'รหัสนิสิต', inplace = True, keep = 'first')
raw = raw[~(raw['ที่อยู่ปัจจุบัน'] == 'sdf')]
df = raw[['Email Address', 'ชื่อ-นามสกุล']].reset_index(drop = True)

In [25]:
df.head()

                   Email Address            ชื่อ-นามสกุล
0          wsasijulaka@gmail.com           วรกร ศศิจุลกะ
1         kodchakarnch@gmail.com  กชกาญจน์ จตุพงศ์ตระกูล
2  kimchouosathanuphap@gmail.com      วัชรากร โอสถานุภาพ
3           mindmilk23@gmail.com       ญาดา เคลือบวิจิตร
4           pew_1999@hotmail.com          ปพิชญา ผุดผ่อง

In [26]:
# Select top 100
first = df.head(100)

In [28]:
first.to_excel('first100.xlsx', index = False)